## Dependencies / Setup

In [1]:
!pip install census

Requirement already satisfied: census in c:\users\maden\appdata\local\continuum\anaconda3\lib\site-packages (0.8.12)
Requirement already satisfied: future in c:\users\maden\appdata\local\continuum\anaconda3\lib\site-packages (from census) (0.17.1)
Requirement already satisfied: requests>=1.1.0 in c:\users\maden\appdata\local\continuum\anaconda3\lib\site-packages (from census) (2.18.4)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\maden\appdata\local\continuum\anaconda3\lib\site-packages (from requests>=1.1.0->census) (3.0.4)
Requirement already satisfied: idna<2.7,>=2.5 in c:\users\maden\appdata\local\continuum\anaconda3\lib\site-packages (from requests>=1.1.0->census) (2.6)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in c:\users\maden\appdata\local\continuum\anaconda3\lib\site-packages (from requests>=1.1.0->census) (1.22)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\maden\appdata\local\continuum\anaconda3\lib\site-packages (from requests>=1.1.0->census) (2018.4.16)

distributed 1.21.8 requires msgpack, which is not installed.
You are using pip version 10.0.1, however version 19.0.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import json
import datetime
from census import Census

# Today's Date
now = datetime.datetime.now()

# PyMySQL
import pymysql
pymysql.install_as_MySQLdb()

# Import API key
from config import api_key
c = Census(api_key, year=2017)

#Today's date + HourMinute
timetag = now.strftime("%Y_%m_%d_%H%M")
print(timetag)

2019_01_26_1239

## Perform API Call

In [16]:
# Run Census Search to retrieve data on all zip codes (2017 ACS5 Census)
# See: https://github.com/CommerceDataService/census-wrapper for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data = c.acs5.get(("NAME",
                          "B19013_001E", 
                          "B01003_001E", 
                          "B01002_001E",
                          "B19301_001E",
                          "B23025_005E",
                          "B17001_002E"), {'for': 'county:*'})
#Convert to a Dataframe
census_pd = pd.DataFrame(census_data)

#Column REordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "county": "County"})

#Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * census_pd["Poverty Count"].astype(int) / census_pd["Population"].astype(int)

# Final DataFrame
census_pd = census_pd[["Name", "County", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Unemployment Count", "Poverty Count", "Poverty Rate"]]

# Visualize
print(len(census_pd))
census_pd.head()

3220

,Name,County,Population,Median Age,Household Income,Per Capita Income,Unemployment Count,Poverty Count,Poverty Rate
0,"Corozal Municipio, Puerto Rico",047,34933.0,38.1,14752.0,7887.0,3296.0,19146.0,54.807775
1,"Maunabo Municipio, Puerto Rico",095,11297.0,43.5,17636.0,8830.0,735.0,5945.0,52.624591
2,"Peñuelas Municipio, Puerto Rico",111,21661.0,36.4,16868.0,7983.0,1601.0,12379.0,57.148793
3,"Ponce Municipio, Puerto Rico",113,148863.0,39.5,16561.0,10775.0,7013.0,75187.0,50.507514
4,"San Sebastián Municipio, Puerto Rico",131,38970.0,42.0,14275.0,8072.0,3307.0,21472.0,55.098794

In [17]:
census_pd.describe()

,Population,Median Age,Household Income,Per Capita Income,Unemployment Count,Poverty Count,Poverty Rate
count,3.220000e+03,3220.000000,3220.000000,3220.000000,3220.000000,3.220000e+03,3220.000000
mean,1.007681e+05,41.123882,48994.966770,25657.033230,3348.106211,1.465639e+04,16.174182
std,3.244996e+05,5.325031,13877.178398,6667.520452,12264.417369,5.116298e+04,8.078167
min,7.400000e+01,21.600000,11680.000000,5943.000000,0.000000,1.000000e+01,2.424187
25%,1.121350e+04,38.000000,40622.000000,21568.000000,295.000000,1.664500e+03,11.055315
50%,2.584750e+04,41.100000,47636.500000,25139.000000,781.500000,4.240500e+03,14.808937
75%,6.660825e+04,44.200000,55476.000000,28997.000000,2174.500000,1.079175e+04,19.108649
max,1.010572e+07,66.400000,129588.000000,69529.000000,406426.000000,1.688505e+06,65.146881

In [21]:
census_pd[['County','State']] = census_pd.Name.str.split(",",expand=True)
census_pd.head()

,Name,County,Population,Median Age,Household Income,Per Capita Income,Unemployment Count,Poverty Count,Poverty Rate,State
0,"Corozal Municipio, Puerto Rico",Corozal Municipio,34933.0,38.1,14752.0,7887.0,3296.0,19146.0,54.807775,Puerto Rico
1,"Maunabo Municipio, Puerto Rico",Maunabo Municipio,11297.0,43.5,17636.0,8830.0,735.0,5945.0,52.624591,Puerto Rico
2,"Peñuelas Municipio, Puerto Rico",Peñuelas Municipio,21661.0,36.4,16868.0,7983.0,1601.0,12379.0,57.148793,Puerto Rico
3,"Ponce Municipio, Puerto Rico",Ponce Municipio,148863.0,39.5,16561.0,10775.0,7013.0,75187.0,50.507514,Puerto Rico
4,"San Sebastián Municipio, Puerto Rico",San Sebastián Municipio,38970.0,42.0,14275.0,8072.0,3307.0,21472.0,55.098794,Puerto Rico